html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, th, td, em, form, input,select, textarea, button, header, nav, menu, section, aside, footer { margin: 0; padding: 0; }
body { background: #000; font-size: 14px; font-family: Helvetica, Arial, sans-serif; font-weight: 100; -webkit-user-select: none; -webkit-text-size-adjust: none; overflow: scroll; color: #fff; }
html, body { height: 100%; }
ul, li { list-style: none; }
input, select, textarea, button { -webkit-appearance: none; border: none; font-family: "Open Sans", Helvetica, Arial, sans-serif; font-weight: 300; }
button { background: none; cursor: pointer; }
a { color: rgba(255,255,255,0.6); text-decoration: none; -webkit-tap-highlight-color: rgba(0,0,0,0); }
a:hover { color: rgba(255,255,255,1); }

.row { height: 100%; position: relative; }

/* nav */
nav { position: fixed; width: 100%; left: 0; top: 0; height: 40px; line-height: 40px; background: rgba(0,0,0,0.8); font-size: 16px; text-align: left; z-index: 9; }
nav span { padding: 0 20px; font-family: Helvetica Neue; font-weight: 100; cursor: default; }
nav a { margin-left: 10px; }

/* Splash */
.splash { background: #fff; }
.logo { padding: 12vmin 120px 8vmin; }
.logo i { position: relative; display: inline-block; width: 164px; height: 11px; line-height: 11px; background-color: #1d8cdb; }
.logo i:before, .logo i:after { position: absolute; content: ''; width: 40px; height: 40px; background-color: #1d8cdb; border-radius: 20px; }
.logo i:before { top: -14px; left: -2px; }
.logo i:after { top: -14px; right: -2px; }
.logo h1 { margin-top: 20px; font-size: 40px; font-family: Helvetica Neue; font-weight: 100; color: #1d8cdb; }

.splash-container { position: relative; height: 50%; padding: 0 80px; background: #1d8cdb; }
.splash-show { position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 90%; }
.show-desktop, .show-mobile { display: inline-block; padding: 40px; border-radius: 5px; vertical-align: middle; color: rgba(255,255,255,0.8); text-align: center; }
.show-desktop:hover, .show-mobile:hover { background: rgba(0,0,0,0.1); color: rgba(255,255,255,1); cursor: pointer; }
.splash-show .fa { height: 16vmin; line-height: 16vmin; font-size: 14vmin; }
.splash-show .fa-angle-right { display: inline-block; vertical-align: middle; margin: 0 2vmin; font-size: 6vmin; color: rgba(255,255,255,0.4); }
.show-mobile .fa { font-size: 16vmin; }
.login-form { position: absolute; right: 120px; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }
.login-form li { padding: 10px 0; }
.login-form input[type="text"], .login-form input[type="password"] { width: 348px; padding: 15px; border-radius: 3px; font-size: 18px; }
.login-form .btn-login { float: right; width: 180px; height: 50px; background: #ff8a00; border-radius: 3px; font-size: 18px; color: #fff; }
.login-form .btn-login:hover { background: #ff7200; }
.login-form .link-form { display: inline-block; font-size: 14px; line-height: 50px; }

/* TryOnline & GetMobile */
.tryonline { background: #ffca59; }
.getmobile  { background: #ec614c; }
.online h3, .mobile h3 { position: absolute; top: 40%; width: 40%; font-size: 6vmin; font-weight: 100; color: rgba(255,255,255,0.5); text-align: right; }
.online em, .mobile em { display: block; font-style: normal; font-size: 10vmin; color: rgba(255,255,255,1); }
.online .pic-online, .mobile .pic-mobile { position: absolute; left: 50%; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 50%; height: 100%; background-position: left center; background-repeat: no-repeat; }
.online .pic-online { background-image: url(../images/intro-online.png); background-size: 753px auto; }
.mobile .pic-mobile { background-image: url(../images/intro-mobile.png); background-size: 640px auto; }
.mobile .qrcode-download { position: absolute; right: 0; margin-top: 8vmin; width: 120px; height: 138px; background: url(../images/qrcode-download.png) no-repeat; background-size: contain; }
.env-ctqa .mobile .qrcode-download { background-image: url(../images/qrcode-ctqa.png); }

/* About */
.about { padding: 0 10%; background-color: #3dbe76; }
.about .fa:before { font-size: 20px; }
.team-member { padding: 5em 0; line-height: 1.5; overflow: hidden; }
.team-member li { float: left; width: 300px; padding: 10px 0; }
.team-member .person-avatar { display: inline-block; vertical-align: middle; width: 80px; height: 80px; background-color: #ddd; background-image: url(../images/un-team.png); background-repeat: no-repeat; background-size: 400px auto; border-radius: 50%; border: 2px solid #fff; }
.team-member .person-info { display: inline-block; vertical-align: middle; margin-left: 20px; }
.team-member li:nth-child(1) .person-avatar { background-position: -240px -80px; }
.team-member li:nth-child(2) .person-avatar { background-position: -80px 0; }
.team-member li:nth-child(3) .person-avatar { background-position: -160px 0; }
.team-member li:nth-child(4) .person-avatar { background-position: -240px 0; }
.team-member li:nth-child(5) .person-avatar { background-position: -320px 0; }
.team-member li:nth-child(6) .person-avatar { background-position: 0 -80px; }
.team-member li:nth-child(7) .person-avatar { background-position: -80px -80px; }
.team-member li:nth-child(8) .person-avatar { background-position: -160px -80px; }
.team-member .person-name { font-size: 20px; }
.team-member .person-job { font-size: 12px; }
.team-nonmember { padding-left: 104px; overflow: hidden; }
.team-nonmember dt, .team-nonmember dd { float: left; font-size: 20px; }
.team-nonmember dt { margin-left: -104px; padding: 5px 10px; }
.team-nonmember dd { margin-right: 20px; padding: 5px 0; }

.feedback { margin-top: 40px; padding: 10px; line-height: 1.5; }

.donate { position: absolute; bottom: 0; padding: 1em 0; font-size: 24px; }
.donate a { font-size: 20px; }
.donate .qrcode-donate { position: absolute; -webkit-transform: translate(-136px,-120px); transform: translate(-136px,-120px); opacity: 0; width: 120px; height: 120px; background: url(../images/qrcode-donate.png) no-repeat; background-size: contain; transition: all 200ms ease-in; }
.donate a:hover + .qrcode-donate { opacity: 1; }

@media (max-height: 768px) {
	.team-nonmember { display: none; }
	.feedback { margin-top: -10px; }
}
@media (max-width: 768px) {
	.login-form { display: none; }
}
@media (max-width: 640px) {
	.logo { padding: 24vmin 20px 8vmin; text-align: center; }
	nav { font-size: 12px; }
	.splash-container { padding: 0 20px; }
	.show-desktop, .show-mobile { padding: 18px; }
	.online .pic-online { background-size: 400px auto; }
	.mobile .pic-mobile { background-size: 380px auto; }
	.row.about { padding: 0 10px; }
	.team-member { padding: 3em 0 0; }
	.team-member li { width: 50%; height: 76px; padding: 0; }
	.team-member .person-avatar { display: none; }
	.team-member .person-info { margin: 0; }
	.team-member .person-job { font-size: 10px; }
	.feedback { display: none; }
	.donate { padding: 1em 0; font-size: 18px; }
}
