/* Protoshop @lilyxue */
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, th, td, em, form, input,select, textarea, button, header, nav, menu, section, aside, footer { margin: 0; padding: 0; }
body { background:#fff; font-size:14px; font-family: Helvetica, Arial, sans-serif; font-weight: 100; -webkit-user-select: none; -webkit-text-size-adjust: none; color: #333; }
html, body { height: 100%; }
ul, li { list-style: none; }
a { color:#000; text-decoration:none; -webkit-tap-highlight-color: rgba(0,0,0,0); }

input, select, textarea, button { /*-webkit-appearance: none;*/ border: none; font-family: "Open Sans", Helvetica, Arial, sans-serif; font-weight: 300; }
button { background: none; cursor: pointer; }
i { font-style: normal; }

.layout { display: -webkit-flex; display: flex; flex-direction: column; -webkit-flex-direction: column; width: 100%; height: 100%; }

.navbar { width: 100%; height: 50px; background: #014eb6; z-index: 9; }
.navbar:after{ content:""; width: 100%; height: 50px; position:relative; }
.navbar-header { float: left; padding: 0 10px; }
.navbar-brand { line-height: 50px; font-size: 24px; font-family: HelveticaUltraLight, sans-serif; color: #fafafa; vertical-align: -3px; letter-spacing: 2px; }
.menu-main, .menu-modeswitch { padding: 8px 0; }
.menu-main { float: left; }
.navbar button, .btn-navbar { display: inline-block; padding: 0 10px; line-height: 36px; border-radius: 3px; font-size: 16px; font-weight: 300; background: rgba(255,255,255,0.1); color: #fff; cursor: pointer; }
.navbar-about, .btn-logout, .menu-modeswitch { float: right; margin-right: 10px; }
.navbar-about .btn-navbar, .btn-logout { margin-top: 7px; }
.navbar button:hover, .btn-navbar:hover { background: rgba(255,255,255,0.4); }
.btn-logout span { pointer-events: none; }
.btn-logout .ready-text { display: none; }
.btn-logout.ready .ready-text { display: inline; }
.btn-logout.ready .todo-text { display: none; }

.layout-main { display: -webkit-flex; display: flex; flex: 1; -webkit-flex: 1; justify-content: center; -webkit-justify-content: center; }
.layout-scenes, .layout-tools { display: -webkit-flex; display: flex; flex-direction: column; -webkit-flex-direction: column; position: relative; background: #fff; transition: all linear 0.2s; }
.layout-scenes { width: 180px; }
.layout-tools { width: 300px; }
.layout-stage { display: -webkit-flex; display: flex; -webkit-flex: 1; flex: 1; justify-content: center; -webkit-justify-content: center; align-items: center; -webkit-align-items: center; background-color: rgba(0,0,0,0.2); overflow: auto; }
.i5, .s4 { background: center no-repeat; }
.i5 { width: 522px; height: 900px; background-image: url(../images/bg-stage-i5.png); background-size: 522px auto; }
.s4 { width: 450px; height: 806px; background-image: url(../images/bg-stage-s4.png); background-size: 450px auto; }
.panel-toggle { position: absolute; top: 50%; -webkit-transform: translate(0,-50%); transform: translate(0,-50%); z-index: 99; }
.panel-toggle button { margin-bottom: 5px; padding: 8px 5px; background: rgba(0,0,0,0.1); font-size: 16px; color: #fff; }
.panel-toggle button:last-child { margin-bottom: 0; }
.panel-toggle button.current, .panel-toggle button:hover { background: rgba(0,0,0,0.4); }
.layout-scenes .panel-toggle { left: 100%; }
.layout-scenes button { border-radius: 0 3px 3px 0; }
.layout-tools .panel-toggle { right: 100%; }
.layout-tools button { border-radius: 3px 0 0 3px; }
.layout-scenes-off, .layout-tools-off { width: 0; }
.layout-scenes-off .scenes-title, .layout-scenes-off .scenes-edit { visibility: hidden; }
.layout-scenes-off .panel-toggle, .layout-tools-off .panel-toggle { -webkit-transform: translate(0,-50%); transform: translate(0,-50%); }
.layout-scenes-off .icon-left-open-big, .layout-tools-off .icon-right-open-big { -webkit-transform: rotateY(180deg); transform: rotateY(180deg); }
.layout-scenes-off .icon-left-open-big { border-radius: 3px 0 0 3px; }
.layout-tools-off .icon-right-open-big { border-radius: 0 3px 3px 0; }

/* Scenes ( layout - left sidebar ) */
.scenes-list { flex: 1; -webkit-flex: 1; overflow-y: auto; }
.scenes-title { height: 30px; line-height: 30px; padding: 0 10px; background: rgba(0,0,0,0.05); border-bottom: 1px solid #ccc; color: #666; word-wrap: break-word; overflow: hidden }
.scene-item { position: relative; padding: 10px 0; border-bottom: 1px solid #ccc; text-align: center; }
.scene-item:last-child { border-bottom: none; }
.item-current { background: rgba(0,50,80,1); box-shadow: inset 0 0 50px rgba(0,0,0,0.3); }
.item-current:before { position: absolute; content: ""; left: 10px; top: 10px; width: 156px; height: 260px; border-radius: 6px; }
.scene-thumb { position: relative; display: block; width: 120px; height: 213px; margin: 10px auto; background-color: #FFF; pointer-events: none; }
.scene-item input[type="text"] { position: relative; width: 110px; height: 22px; padding: 0 5px; background: transparent; border: 1px solid transparent; letter-spacing: 0.5px; font-size: 12px; text-align: center; outline: none; }
.item-current input[type="text"] { font-weight: 500; color: #fff; }
.scene-item input[type="text"]:focus { border: 1px solid #fff; }
.scenes-edit { height: 40px; background: #fff; border-top: 1px solid #ccc; text-align: center; }
.scenes-edit button { width: 45%; height: 30px; line-height: 30px; margin-top: 5px; border: 1px solid rgba(0,0,0,0.2); border-radius: 3px; font-size: 20px; }
.scenes-edit button:hover { background: #195fbc; color: #fff; }

/* Stage ( layout - center stage ) */

.scene { position: relative; background-size: 100% 100% }
.i5 .scene { width: 320px; height: 568px; margin-left: 101px; margin-top: 142px; }
.s4 .scene { width: 400px; height: 640px; margin-left: 26px; margin-top: 82px; }
.scene-bg { width: 100%; height: 100%; pointer-events: none; }
.scene-element { position: absolute }
.scene-element:hover { box-sizing: border-box }
.scene-element.hotspot { background-color: rgba(255, 135, 124, 0.4); }
.anchor i { position: absolute; display: inline-block; width: 10px; height: 10px; margin: -7px; border-radius: 50%; background-color: #fff; border: 1px solid #000; }
.anchor i:nth-child(1) { left: 0; top: 50%; cursor: w-resize; }
.anchor i:nth-child(2) { left: 50%; top: 0; cursor: n-resize; }
.anchor i:nth-child(3) { right: 0; top: 50%; cursor: e-resize; }
.anchor i:nth-child(4) { left: 50%; bottom: 0; cursor: s-resize; }
/* 隐藏 scroll-view content 拖拽的左和上锚点 */
.elem-content > .anchor i:nth-child(1),
.elem-content > .anchor i:nth-child(2) { display: none }

/* Element View */
.element-view { height: 100%; width: 100%; text-align: center; pointer-events: none }
.dragover > .element-view { box-shadow: 0 0 0 2px gold }

.scene-setting { position: absolute; right: 100%; top: 0; margin-right: 10px; z-index: 99 }
.scene-setting-line { background: #fff; }
.scene-setting-panel { width: 240px; padding-bottom: 10px; background: #fff; border: 1px solid #ccc; }
.scene-setting-panel h3 { padding: 0 10px; line-height: 2; background: rgba(0,0,0,0.1); border-bottom: 1px solid #ccc; }
.scene-setting-panel .setting-title { padding: 10px; font-weight: 700; }
.scene-setting-panel .setting-prop { padding: 0 20px; font-size: 12px; }
.setting-prop > div { padding: 5px 0; }
.setting-prop input, .setting-prop select { padding: 0 3px; border: 1px solid #ccc; border-radius: 3px; vertical-align: middle; }
.setting-prop input { height: 24px; }
.setting-prop select { height: 26px; }
.setting-prop .prop-size label { display: inline-block; width: 92px; padding: 2px 0; text-align: right; }
.setting-prop .prop-size input { width: 40px; margin-left: 5px; }
.setting-prop .prop-text input { width: 90px; }
.setting-prop .prop-text select { width: 48px; }
.setting-prop .prop-style input { width: 40px; }
.setting-prop input[type="color"] { width: 40px; height: 26px; padding: 0 2px; border-radius: 3px; vertical-align: middle; }
.setting-prop .prop-goto select { width: 188px; }
.setting-prop .prop-transition label { color: rgba(0,0,0,0.2); cursor: pointer; }
.setting-prop .prop-transition input[type="radio"] { visibility: hidden; width: 0; height: 0; }
.setting-prop .prop-transition input[type="radio"]:checked + i { color: rgba(0,0,0,0.8); }
.setting-prop .prop-transition-time input[type="text"] { display: inline-block; width: 36px; padding: 0 5px; border: none; border-bottom: 1px dotted #ccc; line-height: 1.5; background-color: transparent; font-weight: 300; outline: none; }

.elem-content { position: absolute; left: 100%; top: 0; margin-left: 10px; z-index: 99; background-color: #FFE; box-shadow: 0 0 1px 1px #AAA inset }

/* Tools ( layout - right sidebar ) */
.panel-tools { overflow-y: auto; }
.tools-title { padding: 0 10px; height: 30px; line-height: 30px; background: rgba(0,0,0,0.05); border-bottom: 1px solid #ccc; color: #666; }
.tools-title a { display: block; height: 30px; line-height: 30px; color: #afafaf; }
.tools-title button { float: right; width: 30px; height: 30px; color: #178dd4; }
.tools-box { margin-top: -1px; background: #fff; border-top: 1px solid #ccc; }
.tools-box label { display: inline-block; width: 25%; padding: 0 10px; text-align: right; }
.tools-box input[type="text"] { padding: 3px; border: 1px solid #ccc; border-radius: 3px; font-size: 10px;; vertical-align: middle; }
.tools-background { padding: 10px; text-align: left; }
.tools-background .tools-bg-thumb { position: relative; display: inline-block; width: 60px; height: 100px; margin: 0 30px; padding: 0; background: rgba(0,0,0,0.1); vertical-align: middle; text-align: center; cursor: pointer; }
.tools-bg-thumb:after { position: absolute; content: "+"; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); color: #666; }
.tools-bg-thumb img { width: 60px; }
.tools-background button { width: 86px; height: 36px; border: 1px solid rgba(0,0,0,0.2); border-radius: 3px; }
.tools-background button:hover { background: #195fbc; color: #fff; }

.tools-action li, .tools-actor li, .tools-setting li { padding: 8px 10px; border-bottom: 1px solid #ccc; }
.tools-action li button, .tools-actor-action { float: right; width: 30px; height: 16px; color: #178dd4; }
.tools-action li span{ display: inline-block; width: 240px; overflow: hidden; word-break: break-all; }
.tools-setting input[type="text"] { width: 160px; height: 18px; }
.tools-setting img { border-radius: 10px; vertical-align: middle; width:60px; }
.tools-actor li { cursor: pointer; position: relative; text-overflow: ellipsis; }
.tools-actor-item-selected { background: rgba(0,50,80,1); color: #fff; }
.tools-actor-comment { font-size: 10px; margin-left: 6px; }

/* Tools library */
.lib-category h3 { padding: 15px 10px 5px; border-bottom: 1px solid rgba(0,0,0,0.1); font-size: 12px; font-weight: 100; }
.lib-list { display: -webkit-flex; display: flex; -webkit-flex: 1; flex: 1; -webkit-flex-flow: row wrap; flex-flow: row wrap; }
.lib-list li { width: 100px; padding: 10px 0; border-right: 1px solid rgba(0,0,0,0.1); border-bottom: 1px solid rgba(0,0,0,0.1); box-sizing: border-box; font-size: 10px; cursor: pointer; text-align: center; }
.lib-item-thumb { width: 80px; height: 50px; margin: 0 auto; background: url(../images/un-library.png) no-repeat; }
.thumb-button { background-position:-720px -96px; }
.thumb-hotspot { background-position:-480px 0; }
.thumb-list { background-position:-160px -256px; }
.thumb-toolbar { background-position:-240px -96px; }

/* Package List */

.layout-container { -webkit-flex: 1; flex: 1; -webkit-align-self: center; align-self: center; width: 920px; max-width: 1200px; padding: 0 40px; }
.pkg-title { padding: 30px 6px 20px; height: 40px; border-bottom: 2px solid #ddd; }
.pkg-title .pkg-name { float: left; font-size: 32px; color: #666; }
.pkg-title .pkg-new { float: right; padding: 0 14px; font-size: 18px; color: #fff; line-height: 40px; background: #ff8a00; border-radius: 3px; }
.pkg-title .pkg-new:hover { background: #ff7200; }
.pkg-title .pkg-new i { font-style: normal; padding-right: 5px; }
.pkg-list { min-width: 860px; }
.pkg-list li { padding: 20px 10px 20px 60px; border-bottom: 1px solid #eaeaea; overflow: hidden; }
.pkg-list .mine { background-color: #F3F8FF }
.pkg-list .icon-lock { display: none }
.pkg-list .private .icon-lock { display: inline; font-size: 25px; position: relative; top: -2px }
.pkg-list .pkg-platform { float: left; margin-left: -50px; width: 32px; height: 32px; font-size: 28px; }
.pkg-info { float: left; padding-right: 148px; line-height: 26px; font-size: 14px; }
.pkg-info .pkg-appname { font-size: 22px; color: #06c; }
.pkg-info .pkg-appname:hover { text-decoration: underline; }
.pkg-info .pkg-modifytime,
.pkg-info .pkg-author { margin-left: 6px; color: rgba(0,0,0,0.4); }
.pkg-info .pkg-desc { line-height: 1.5; color: rgba(0,0,0,0.6); }
.pkg-btn { float: right; margin-left: -148px; }
.pkg-btn button { width: 72px; height: 50px; line-height: 20px; font-size: 20px; color: rgba(0,0,0,0); }
.pkg-list li:hover button { color: rgba(0,0,0,0.2); }
.pkg-list li:hover button:hover { color: rgba(0,0,0,0.4); }


.layer { position: fixed; top: 50%; left: 50%; width: 500px; padding: 10px; background: #f0f0f0; border: 1px solid rgba(0,0,0,0.6); -webkit-transform: translate(-50%, -50%); transform: translate(50%, -50%); z-index: 9; }
.layer + .layout:after { position: fixed; content: ""; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.4); }
.layer.ng-hide + .layer-mask { display: none; }
.layer-title { height: 40px; margin-bottom: 20px; padding-left: 10px; border-bottom: 1px solid rgba(0,0,0,0.2); box-sizing: border-box; }
.layer-title h3 { line-height: 40px; color: rgba(0,0,0,0.6); font-size: 20px; }
.close { float: right; line-height: 30px; font-size: 18px; color: rgba(0,0,0,0.4); cursor: pointer; }
.close:hover { color: rgba(0,0,0,0.6); text-decoration: none; }
.control-group li { padding: 0 10px 20px 110px; }
.control-group .layer-item { float: left; width: 100px; margin-left: -110px; color: rgba(0,0,0,0.6); line-height: 28px;  font-size: 16px; text-align: right; }
/*.control-group img { margin-right: 10px; width:28px; vertical-align:middle; }*/
.neat-form { display: inline-block; }
.neat-form label { cursor: pointer; }
.neat-form input { display:none; }
.icon-apple, .icon-android { display: inline-block; width: 36px; height: 32px; margin-top: -4px; overflow: hidden; font-size: 28px; }
.icon-apple { color: rgba(0,0,0,0.6); }
.icon-android { color: rgb(164,202,57); }
.control-group .icon-apple { opacity: 0.4; }
.control-group .icon-android { opacity: 0.4; }
.control-group input[type="radio"]:checked + .icon-apple,
.control-group input[type="radio"]:checked + .icon-android { opacity: 1 }
.control-group input[type="text"], .control-group textarea { width: 358px; padding: 6px 10px; background: #fff; border: 1px solid rgba(0,0,0,0.2); border-radius: 3px; font-size: 14px; }
.neat-form .ispublic { display: inline-block; height: 30px; line-height: 30px; }
.icon-lock { font-size: 30px; color: #ae81ff; vertical-align: -3px; }
.neat-form .icon-lock:after { content: "设为私密项目"; font-size: 14px; color: #ae81ff; }
.neat-form input[type="checkbox"]:checked + .ispublic .icon-lock { color: rgba(0,0,0,0.2); }
.neat-form input[type="checkbox"]:checked + .ispublic .icon-lock:after { color: rgba(0,0,0,0.2); }
.control-group .item-btn { float: right; }
.control-group button { margin-left: 10px; padding: 0 15px; line-height: 32px; border-radius: 3px; font-size: 16px; color: #fff; }
.control-group button:nth-child(1) { background: #ff8a00; }
.control-group button:nth-child(1):hover { background: #ff7200; }
.control-group button:nth-child(2) { background: #ccc; }
.control-group button:nth-child(2):hover { background: #aaa; }

/* layer-share */
.layer-share { height: 320px; padding: 0 10px; }
.share-output, .share-input { display: inline-block; height: 26px; font: 16px/26px 'Open Sans', sans-serif; vertical-align: top; float: left }
.share-input { outline: none; width: 1px; letter-spacing: 4px; overflow: hidden }
.users-selected { display: block; margin-top: 15px; padding: 8px 0 2px 8px; background: #fff; border: 1px solid #aaa; cursor: text; overflow: hidden }
.users-selected.selected-active { border-color: #5897fb; box-shadow: inset 0 0 3px rgba(0,0,0,0.2); }
.users-selected li { float:left; height: 24px; line-height: 24px; margin: 0 6px 6px 0; padding: 0 5px; background: #f0f0f0; border: 1px solid #aaa; border-radius: 3px; cursor: default; }
.users-selected .icon-block { cursor: pointer; color: #999; text-align: center; font-size: 0.9em; padding-right: 2px }
.users-selected .icon-block:hover { color: #E66 }
.users-list { background: #fff; margin-top: -1px; border: 1px solid #aaa; border-top: none; overflow-y: scroll }
.users-list li { padding: 5px; }
.users-list li:hover { background: #014eb6; }
.users-list li:hover .nickname { color: #fff; }
.users-list .email { color: #999; }

/* Login */
.login-box { margin-top: 40px; }
.login-box .login-title { padding: 30px 0; line-height: 2em; font-size: 36px; font-family: Helvetica, sans-serif; font-weight: 100; text-align: center; }
.login-box li { padding: 10px 0; }
.login-box input[type="text"], .login-box input[type="password"] { width: 348px; padding: 15px; border: 1px solid rgba(0,0,0,0.4); border-radius: 3px; font-size: 18px; }
.login-box .btn-login { float: right; width: 180px; height: 50px; background: #ff8a00; border-radius: 3px; font-size: 18px; color: #fff; }
.login-box .btn-login:hover { background: #ff7200; }
.login-box .link-form { display: inline-block; padding: 0 10px; line-height: 50px; color: #06c; }

/* About */
.about-box { padding: 30px 0; }
.about-box .box-title { padding: 10px 0; font-size: 28px; font-family: Microsoft Yahei, sans-serif; }
.about-box p { padding: 10px 0; line-height: 1.5; font-size: 14px; }
.about-box a { color: #014eb6; }
.about-team { margin: 30px 0; font-family: Microsoft Yahei, sans-serif; }
.team-member { overflow: hidden; }
.team-member li { float: left; width: 220px; height: 264px; padding: 10px 0; text-align: center; }
.team-member .person-avatar { width: 160px; height: 160px; margin: 0 auto 20px; background-color: #ddd; background-image: url(../images/un-team.png); background-repeat: no-repeat; border-radius: 50%; }
.team-member li:nth-child(2) .person-avatar { background-position: -160px 0; }
.team-member li:nth-child(3) .person-avatar { background-position: -320px 0; }
.team-member li:nth-child(4) .person-avatar { background-position: -480px 0; }
.team-member li:nth-child(5) .person-avatar { background-position: -640px 0; }
.team-member li:nth-child(6) .person-avatar { background-position: 0 -160px; }
.team-member li:nth-child(7) .person-avatar { background-position: -160px -160px; }
.team-member li:nth-child(8) .person-avatar { background-position: -320px -160px; }
.team-member li:nth-child(1) .person-avatar { background-position: -480px -160px; }
.person-name { font-size: 20px; }
.person-job { font-size: 12px; color: rgba(0,0,0,0.6); }
.person-weibo { padding-left: 20px; background: url(../images/icon-weibo.png) no-repeat; color: #014eb6; }
.team-nonmember { margin-top: 30px; }
.team-title { margin-bottom: 30px; font-size: 20px; }
.team-nonmember li { padding: 5px 0; }
.team-nonmember .person-avatar { display: inline-block; width: 40px; height: 40px; margin-right: 10px; background-color: #ddd; background-image: url(../images/un-team.png); background-repeat: no-repeat; border-radius: 50%; vertical-align: middle; }
.team-nonmember li:nth-child(1) .person-avatar { background-position: 0 -336px; }
.team-nonmember li:nth-child(2) .person-avatar { background-position: -48px -336px; }
.team-nonmember .person-name { display: inline-block; width: 52px; margin-right: 10px; font-size: 16px; }
.team-nonmember .person-job { margin-right: 10px; }

/* Notification */
.notify { position: fixed; top: 0; left: 50%; margin: 10px -120px; min-width: 320px; z-index: 999; }
.notify-item { border-radius: 5px; height: 30px; line-height: 30px; margin-bottom: 18px; letter-spacing: 0.1em; text-align: center; overflow: hidden; box-shadow: 0 0 6px rgba(0,0,0,0.4) }
.notify-item-info { background-color: rgba(255,255,255,0.8); color: #555; }
.notify-item-success { background-color: rgba(60,160,30,0.9); color: #FFF; }
.notify-item-warning { background-color: #d9534f; color: #FFF; }
.notify-item-error { background-color: #d9534f; color: #FFF; }
.notify-item.ng-enter,
.notify-item.ng-leave { transition:0.1s ease-out all; }
.notify-item.ng-enter,
.notify-item.ng-leave.ng-leave-active { height: 0; margin-bottom: 0; }
.notify-item.ng-leave,
.notify-item.ng-enter.ng-enter-active { height: 30px; }

.spinner { position: fixed; bottom: 20px; left: 50%; width: 16px; height: 16px; margin-left: -10px; pointer-events: none; border: 5px dotted rgba(0,0,0,0.4); border-radius: 20px; -webkit-animation: spin 1.5s infinite linear; }
@-webkit-keyframes spin { from { -webkit-transform: rotate(0deg); } to { -webkit-transform: rotate(360deg); } }
