html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, th, td, em, form, input,select, textarea, button, header, section, aside, footer { margin: 0; padding: 0; }
body { min-width:320px; background:#fafafa; font-size:14px; font-family: "Open Sans", Helvetica, Arial, sans-serif; -webkit-user-select:none; -webkit-text-size-adjust:none; overflow-x:hidden; color: #333; }
html, body { height: 100%; }
ul, li { list-style:none; }
a { color:#000; text-decoration:none; -webkit-tap-highlight-color:rgba(0,0,0,0); }

input, select, textarea { -webkit-appearence:none; border: none; font-family: "Open Sans", Helvetica, Arial, sans-serif; font-weight: 300; }

.browsehappy { margin: 0.2em 0; padding: 0.2em 0; background: #ccc; color: #000; }
.layout { width: 100%; height: 100%; }

.navbar { position: -webkit-sticky; position: sticky; top: 0; height: 50px; margin: 0; border-radius: 0; background-color: #383838; border: none; border-bottom: 1px solid #000; }
.navbar-brand { font-weight: bold; }

.layout-main { position: fixed; top: 50px; display: -webkit-box; display: box; width: 100%; height: 100%; padding-bottom: 50px; }

.layout-scenes { width: 180px; background-color: #232323; overflow-x: hidden; overflow-y: scroll; }
.layout-tools { width: 300px; background-color: #202020; color: #7f7f7f; }
.layout-stage { -webkit-box-flex: 1; box-flex: 1; border-left: 1px solid #000; border-right: 1px solid #000; background: #292929 url(../images/bg-stage-iphone5.png) center center no-repeat; }

/* ==================================================
 *  Scenes ( layout - left sidebar )
 */

.scenes-list { padding: 0; }
.scenes-title { display: block; padding: 5px 10px; border-top: 1px solid #424242; border-bottom: 1px solid #000; color: #afafaf; }
.scene-item { height: 272px; padding: 20px 0; }
.item-current { background-color: #393939; }
.scene-thumb { display: block; width: 120px; height: 213px; margin: 0 auto 5px; background-color: #FFF; }
.scene-item input[type="text"] { width: 100%; background: none; font-size: 12px; color: #fff; text-align: center; }

/* ==================================================
 *  Stage ( layout - center stage )
 */



/* ==================================================
 *  Tools ( layout - right sidebar )
 */

.tools-title { display: block; padding: 5px 10px; border-top: 1px solid #424242; border-bottom: 1px solid #000; color: #afafaf; }
.tools-position { padding: 10px; overflow: hidden; }
.tools-position li { float: left; width: 50%; padding: 5px 0; }
.tools-position label { display: inline-block; width: 50px; padding: 0 10px; text-align: right; }
.tools-position input[type="text"] { width: 58px; height: 18px; background-color: #282828; border: 1px solid #000; color: #fff; vertical-align: middle; }
.tools-background, .tools-export { padding: 10px; text-align: center; }
.tools-bg-thumb { display: block; margin: 10px auto; }
.tools-background input[type="button"], .tools-export input[type="button"] { width: 86px; height: 36px; border: 1px solid #000; background-color: #2f2f2f; color: #1998e0; }

