/* To Hell by xll */
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, th, td, em, form, input,select, textarea, button, header, nav, menu, section, aside, footer { margin: 0; padding: 0; }
body { min-width: 1280px; min-height: 804px; background:#222; font-size:14px; font-family: "Open Sans", Helvetica, Arial, sans-serif; -webkit-user-select:none; -webkit-text-size-adjust:none; overflow-x:hidden; color: #333; }
html, body { height: 100%; overflow: hidden }
ul, li { list-style:none; }
a { color:#000; text-decoration:none; -webkit-tap-highlight-color:rgba(0,0,0,0); }

input, select, textarea, button { -webkit-appearance:none; border: none; font-family: "Open Sans", Helvetica, Arial, sans-serif; font-weight: 300; }
button { background: none; cursor: pointer; }
i { font-style: normal; }

.layout { width: 100%; height: 100%; }

.navbar { position: fixed; top: 0; width: 100%; min-width: 1280px; height: 50px; background-color: #383838; border-bottom: 1px solid #000; z-index: 9; }
.navbar:after{ content:""; width: 100%; height: 50px; position:relative; }
.navbar-header { float: left; padding: 0 10px; }
.navbar-brand { line-height: 50px; font-size: 18px; font-weight: normal; cursor: default; color: #fafafa; }
.menu-main, .menu-modeswitch { padding: 8px 0; }
.menu-main { float: left; }
.menu-modeswitch { float: right; margin-right: 10px; }
.menu-main button, .menu-modeswitch button, .scenes-edit button { display: inline-block; padding: 0 10px; line-height: 32px; border: 1px solid #000; border-radius: 5px; font-size: 16px; color: #afafaf; background: transparent; cursor: pointer; }
.menu-modeswitch .current { background-color: #162a3a; color: #178dd4; }

.layout-main { position: relative; display: -webkit-box; display: box; width: 100%; height: 100%; }

.layout-scenes { position: relative; width: 180px; background-color: #222; overflow-x: hidden; overflow-y: auto; margin-top: 51px; }
.layout-scenes ul{ margin-bottom: 60px; }
.layout-tools { width: 300px; background-color: #222; color: #7f7f7f; overflow-x: hidden; overflow-y: auto; margin-top:51px; }
.layout-stage { -webkit-box-flex: 1; box-flex: 1; margin-top: 51px; border-left: 1px solid #000; border-right: 1px solid #000; background-color: #292929; background-position: center center; background-repeat: no-repeat; }
.i5 { background-image: url(../images/bg-stage-i5.png); }
.s4 { background-image: url(../images/bg-stage-s4.png); }

/* ==================================================
 *  Scenes ( layout - left sidebar )
 */

.scenes-list { padding: 0; }
.scenes-title { padding: 5px 10px; border-top: 1px solid #424242; border-bottom: 1px solid #000; color: #afafaf; word-break: break-all; }
.scene-item { position: relative; padding: 20px 0; }
.item-current { background-color: #393939; }
.item-current:before { position: absolute; content: ""; left: 10px; top: 10px; width: 156px; height: 252px; border: 2px solid #ffb529; border-radius: 6px; background-color: rgba(255,255,41,0.1); }
.item-drag:before { position: absolute; content: ""; left: 10px; top: 10px; width: 156px; height: 252px; border: 2px solid #29ff49; border-radius: 6px; background-color: rgba(41,255,41,0.1); }
.scene-thumb { position: relative; display: block; width: 120px; height: 213px; margin: 0 auto 5px; background-color: #FFF; pointer-events: none; }
.scene-item input[type="text"] { position: relative; width: 108px; height: 24px; background: none; font-size: 12px; color: #fff; text-align: center; outline: none; margin-left:31px;  padding:0 5px; }
.scene-item input[type="text"]:focus{outline: 1px solid #333;}
.scenes-edit { position: fixed; left: 0; bottom: 0; width: 180px; height: 40px; background-color: #383838; text-align: center; }
.scenes-edit button { width: 60px; height: 26px; line-height: 26px; margin-top: 6px; font-size: 20px; }

/* ==================================================
 *  Stage ( layout - center stage )
 */

.scene { position: absolute; left: 50%; top: 50%; width: 320px; height: 568px; margin: 26px auto 0 }
.i5 .scene { width: 320px; height: 568px; -webkit-transform: translate(-220px, -284px); }
.s4 .scene { width: 400px; height: 640px; -webkit-transform: translate(-259px, -323px); }
.scene-bg { width: 100%; height: 100%; position: absolute; z-index: 0; pointer-events: none }
.hotspot { background-color: rgba(255, 135, 124, 0.5); border: 1px solid #b0b0b0; position: absolute; }
.anchor i { position: absolute; display: inline-block; width: 10px; height: 10px; margin: -6px; border-radius: 50%; background-color: #fff; border: 1px solid #000; }
.anchor i:nth-child(1) { left: 0; top: 50%; cursor: w-resize; }
.anchor i:nth-child(2) { left: 50%; top: 0; cursor: n-resize; }
.anchor i:nth-child(3) { right: 0; top: 50%; cursor: e-resize; }
.anchor i:nth-child(4) { left: 50%; bottom: 0; cursor: s-resize; }
/*.hotspot:before, .hotspot:after { position: absolute; content: ""; left: 50%; }
.hotspot:before { left: 50%; top: -15px; margin-left: -1px; width: 2px; height: 10px; background-color: #000; }
.hotspot:after { left: 50%; top: -25px; margin-left: -6px; width: 10px; height: 10px; border-radius: 50%; background-color: #fef935; border: 1px solid #000; }*/
.scene-goto { position: absolute; right: 119px; top: -53px; z-index: 2; }
.scene-goto-thumb { width: 45px; padding: 8px 10px; border: 2px solid #7d7d7d; border-radius: 5px; font-size: 12px; color: #fff; text-align: center; }
.scene-goto-thumb img { width:45px; height: 70px }
.scene-goto-thumb p{display:block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.scene-goto-thumb p:empty{display:inline-block;}
.scene-goto-line { position: relative; height: 2px; margin-left:36px; margin-top:-54px; background-color: #4fc9f0; }
.scene-goto-line:before, .scene-goto-line:after { position: absolute; content: ""; width: 12px; height: 12px; border-radius: 6px; background-color: #4fc9f0; }
.scene-goto-line:before { left: -5px; top: -5px; }
.scene-goto-line:after { right: -5px; top: -5px; }
.scene-goto-animation { position: absolute; left: 50%; margin-top: -176px; margin-left: -120px; width: 268px; height: 140px; padding: 5px;  border: 1px solid #000; border-radius: 5px; background-color: #232323; font-size: 12px; color: #b7b7b7; box-shadow: 0 0 15px rgba(0,0,0,0.8), inset 0 0 1px #ccc; }
.scene-goto-animation:after { position: absolute; content: ""; left: 50%; bottom: -10px; margin-left: -10px; margin-bottom: -10px; width: 0; height: 0; border-width: 10px; border-style: solid; border-color: #4a4a4a transparent transparent; }
.scene-goto-animation dt { float: left; padding: 3px 0 3px 5px; line-height: 2; font-weight: 300; }
.scene-goto-animation dd { padding: 3px 0 3px 120px; border-bottom: 1px solid #333; line-height: 2; }
.scene-goto-animation dd:last-child { border: none; }
.scene-goto-animation a { color: #b7b7b7; }
.scene-goto-animation input[type="text"] { display: inline-block; width: 36px; padding: 0 5px; border-bottom: 1px dotted #999; line-height: 1.5; background-color: transparent; font-weight: 300; color: #fff; outline: none; }
.goto-target { float: right; font-size: 16px; }
.goto-scenes { position: relative; margin-bottom: 2px; }
.goto-scenes:after { position: absolute; content: ""; right: 10px; top: 10px; width: 0; height: 0; border-width: 6px; border-style: solid; border-color: #666 transparent transparent; pointer-events:none; }
.goto-scenes select { width: 150px; height: 28px; padding: 0 23px 0 5px; background: #000; border-radius: 0; border: 1px solid #333; color: #fff; }
.goto-transition label { color: #424242; cursor: pointer; }
.goto-transition input[type="radio"] { visibility: hidden; width: 0; height: 0; }
.goto-transition input[type="radio"]:checked + i { color: #b7b7b7; }

/* ==================================================
 *  Tools ( layout - right sidebar )
 */

.tools-title { padding: 0 10px; height: 30px; line-height: 30px; border-top: 1px solid #424242; border-bottom: 1px solid #000; color: #afafaf; }
.tools-title a { display: block; height: 30px; line-height: 30px; color: #afafaf; }
.tools-title button{ float: right; margin-top:8px; margin-right:7px; color: #178dd4; }
.tools-position { padding: 10px; overflow: hidden; }
.tools-position li { float: left; width: 50%; padding: 5px 0; }
.tools-box label { display: inline-block; width: 25%; padding: 0 10px; text-align: right; position: relative;}
.tools-box input[type="text"] { padding: 3px; background-color: #282828; border: 1px solid #000; font-size: 12px; color: #fff; vertical-align: middle; }
.tools-position input[type="text"] { width: 35px; height: 18px; }
.tools-background { padding: 10px; text-align: left; }
.tools-bg-thumb { display: inline-block; margin-right: 5px; width: 60px; height: 100px; vertical-align: top; text-align: center; }
.tools-bg-thumb img { width:60px; height: 100%; }
.tools-background button { width: 86px; height: 36px; border: 1px solid #000; background-color: #2f2f2f; color: #1998e0; }
.tools-bg-thumb i{ font-size: 16px; position: absolute; left: 44px; top: 40px; color: #afafaf; }

.tools-action li, .tools-actor li, .tools-setting li { padding: 8px 10px; background-color: #2b2b2b; border-bottom: 1px solid #000; }
.tools-action li button, .tools-actor-action { float: right; color: #178dd4; margin-right:7px; }
.tools-action li span{ display: inline-block; width: 240px; overflow: hidden; word-break: break-all; }
.tools-setting input[type="text"] { width: 160px; height: 18px; }
.tools-setting img { border-radius: 10px; vertical-align: middle; width:60px; }
.tools-actor-item { cursor: pointer; position: relative; text-overflow: ellipsis; }
.tools-actor-item-selected:before { position: absolute; content: ""; left: 4px; top: 6px; width: 288px; height: 20px; border: 1px solid #ffb529; border-radius: 6px; background-color: rgba(255,282,41,0.1); pointer-events: none; }
.tools-actor-comment { font-size: 10px; margin-left: 6px; }

/* ==================================================
 *  Package List (previously 'project')
 */

.pkg-box { width: 1200px; margin: 50px auto 0; }
.pkg-title { padding: 20px 6px; height: 40px; border-bottom: #333 solid 2px; }
.pkg-title .pkg-name { float: left; font-size: 30px; font-weight: 100; color: #afafaf; }
.pkg-title .pkg-new { float: right; padding: 0 14px; font-size: 18px; color: #fff; line-height: 40px; background: #1ba1eb; }
.pkg-title .pkg-new:hover { background: #46b6f4; }
.pkg-title .pkg-new i { font-style: normal; padding-right: 5px; }
.pkg-list li { min-height: 56px; padding: 25px 10px 25px 50px; border-bottom: 1px dashed #333; overflow: hidden; }
.pkg-list .pkg-platform { float: left; margin-left: -50px; margin-top: -3px; width: 32px; height: 32px; font-size: 28px; }
.pkg-info { float: left; width: 920px; line-height: 26px; }
.pkg-info .pkg-appname { font-size: 22px; color: #1ba1eb; }
.pkg-info .pkg-appname:hover { text-decoration: underline; }
.pkg-info .pkg-createtime { margin-left: 10px; font-size: 16px; font-weight: 100; color: rgba(255,255,255,0.4); }
.pkg-info .pkg-desc { font-size: 18px; color: rgba(255,255,255,0.6); }
.pkg-btn { float: right; }
.pkg-btn button { width: 80px; height: 50px; line-height: 26px; border: 1px solid #000; background-color:#2f2f2f; font-size: 22px; color: #afafaf; }
.pkg-btn button:first-child:hover { background:#0a2; color:#fff; }
.pkg-btn button:last-child:hover { background:#c21; color:#fff; }

.layer { position: fixed; top: 200px; left: 50%; margin-left: -250px; width: 500px; background: #333; border: 1px solid #666; border-radius: 5px; padding: 10px; -webkit-transition: all 0.3s ease-in; z-index: 9; }
.layer-mask { position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: #000; opacity: 0.4; }
.layer.ng-hide + .layer-mask { display: none; }
.layer-title{ border-bottom: 1px solid #454545; height: 34px; padding:0 0 0 10px; margin-bottom:30px; }
.layer-title h3 { line-height: 30px; font-weight: 100; color: #fafafa; font-size: 20px; }
.close { float: right; line-height: 30px; font-size: 18px; color: #fafafa; cursor: pointer; }
.close:hover { color: #b7b7b7; text-decoration: none; }
.control-group li { padding: 0 10px 20px 110px; }
.control-group .layer-item { float: left; width: 100px; margin-left: -110px; color: #fafafa; font-weight: 100; line-height: 28px;  font-size: 16px; text-align: right; }
/*.control-group img { margin-right: 10px; width:28px; vertical-align:middle; }*/
.neat-form { display: inline-block; }
.neat-form label { cursor: pointer; }
.icon-apple, .icon-android { display: inline-block; width: 36px; height: 32px; margin-top: -4px; overflow: hidden; font-size: 28px; }
.icon-apple { color: rgb(230,230,230); }
.icon-android { color: rgb(164,202,57); }
.control-group .icon-apple { opacity: 0.4 }
.control-group .icon-android { opacity: 0.4 }
.control-group input[type="radio"]:checked + .icon-apple,
.control-group input[type="radio"]:checked + .icon-android { opacity: 1 }
.control-group input[type="text"], .control-group textarea { width: 360px; padding: 6px 10px; background: #efefef; font-size: 14px; }
.neat-form .privilege { display: inline-block; height: 30px; line-height: 30px; }
.neat-form .privilege .icon-lock { display: none; }
.icon-lock-open, .icon-lock { font-size: 30px; }
.icon-lock-open { color: #fff; }
.icon-lock { color: #ae81ff; }
.neat-form .icon-lock-open:after { content: "公开"; font-size: 14px; }
.neat-form .icon-lock:after { content: "私密"; font-size: 14px; }
.neat-form input[type="checkbox"]:checked + .privilege .icon-lock-open { display: none; }
.neat-form input[type="checkbox"]:checked + .privilege .icon-lock { display: block; }
.control-group .item-btn { float: right; }
.control-group button { margin-left: 20px; padding: 0 10px; line-height: 30px; background: #1ba1eb; font-size: 16px; color: #fff; }

/* ==================================================
 *  Login
 */
.login-box { margin: 160px auto; padding: 10px; }
.login-box li { padding: 15px 0; }
.login-box input[type="text"], .login-box input[type="password"] { width: 360px; padding: 10px; font-size: 18px; }
.login-box .btn-signin { float: right; width: 180px; height: 40px; background: #1ba1eb; font-size: 18px; color: #fff; }

/* ==================================================
 *  Notification
 */

.notify{ position: relative;z-index: 20;display: table;min-width: 250px;min-height: 18px;color: #afafaf;list-style: none;background-color: transparent;margin: 0;padding: 5px }
.notify-item{ border-radius: 6px;border: solid 2px #000;border-top: none;background-color: #383838;cursor: pointer;text-align: center;margin: 0;padding: 5px }
.notify-item:first-of-type{ border-top: solid 2px #000 }
.notify-item-info{ color: green }
.notify-item-warn{ color: #c47529 }
.notify-item-error{ color: red } 
.notify-item.ng-leave{ -webkit-transition: all linear .5s;-moz-transition: all linear .5s;-o-transition: all linear .5s;transition: all linear .5s;display: block!important }
.notify-item.ng-hide-add.ng-hide-add-active,.notify-item.ng-hide-remove{ opacity: 0 }
.notify-item.ng-hide-add,.notify-item.ng-hide-remove.ng-hide-remove-active{ opacity: 1 }
.notify-item.ng-enter-stagger{ -webkit-transition-delay: .1s;transition-delay: .1s }
