<div class="layer">
	<div class="layer-title">
		<button class="close icon-cancel" ng-click="modal.closeMe()"></button>
		<h3 ng-bind="appName"></h3>
	</div>
	<div class="layer-share">
		<p>Choose people you want to share this project:</p>
		<label class="users-selected selected-active">
			<ul>
				<li><span>admin</span><a href="###" class="user-delete">x</a></li>
				<li><span>Amio</span><a href="###" class="user-delete">x</a></li>
			</ul>
			<span class="share-output" ng-bind="lookup">22</span>
			<input class="share-input" type="text" ng-model="lookup" ng-change="lookupFellows()" autofocus /></label>
		</label>
		<ul class="users-list">
			<li ng-repeat="fellow in fellows">
				<div class="nickname" ng-bind="fellow.nickname"></div>
				<div class="email" ng-bind="fellow.email"></div>
			</li>
		</ul>
	</div>
</div>
