<navbar />

<div class="layout-container">
	<div class="about-box">
		<h3 class="box-title">Protoshop<sup class="build-stamp"><!--BUILDSTAMP--></sup></h3>
		<p>Protoshop，Prototype+Shop 的合体字，原型商店。</p>
		<p>
			在 Web 端导入组件，添加相应的热区设置链接及场景过渡动画并保存，就可以在手机客户端实时加载交互原型并在移动设备上演示，快速 Review 产品需求和交互设计。Protoshop 通过 lua 语言打通 iOS 和 Android，10分钟即可由平面设计稿打造出的 APP 原型，在移动设备上以原生的方式运行。
		</p>
	</div>
	<div class="about-box">
		<h3 class="box-title">Download APP</h3>
		<p><img src="images/qrcode-ctqa.png" width="200" /></p>
	</div>
	<div class="about-box">
		<h3 class="box-title">Feedback</h3>
		<p>
			我们的工具是为提高产品设计效率而生，我们喜欢一切与此相关的想法和创意。<br />
			如果您想帮助我们把 Protoshop 做得更好，欢迎您提出意见和建议。<br />
			Email to: <a href="mailto:support@protoshop.io">support@protoshop.io</a>
		</p>
	</div>
	<div class="about-box">
		<h3 class="box-title">Donate</h3>
		<i class="fa fa-coffee"></i> <a href="https://qr.alipay.com/ap27zqsxo3v5q61z1f" title="求咖灰~~~" target="_blank">Buy me a coffee!</a> (੭ु๑‾᷄ ⁻̫ ‾᷅)੭ु⁾⁾
	</div>
</div>