<navbar />

<div class="layout-container">
	<div class="about-box">
		<h3 class="box-title">Protoshop<sup class="build-stamp"><!--BUILDSTAMP--></sup></h3>
		<p>Protoshop，Prototype+Shop 的合体字，原型商店。</p>
		<p>
			在 Web 端增加场景，上传背景或添加组件、热区等，设置相应的链接及场景过渡动画并保存，就可以在手机客户端实时加载交互原型并在移动设备上演示，快速 Review 产品需求和交互设计。Protoshop 通过 lua 语言打通 iOS 和 Android，10分钟即可由平面设计稿打造出 APP 原型，在移动设备上以原生的方式运行。
		</p>
	</div>
	<div class="about-box">
		<h3 class="box-title">使用帮助</h3>
		<p>
			Step 1: 注册帐号并登录。<br />
			Step 2: 新建项目，默认为 iOS 平台，如果您的移动设备为 Android 系统请在弹出层中点安卓机器人图标。<br />
			Step 3: 编辑界面下在左侧添加场景，在右侧工具区上传背景图或拖拽组件到舞台区的手机上，设置您想要的样式及场景过渡动画。<br />
			Step 4: 扫描下图二维码安装 APP ，系统会自动同步项目到 APP 上并可即时预览，在项目内任意界面双指点击屏幕可以返回项目列表页。<br />
			Step 5: 在 Web 端修改某一项目后，在 APP 上的列表页点右上角的刷新按钮即可再次同步该项目并预览。
		</p>
	</div>
	<div class="about-box">
		<p class="about-qrcode-download"></p>
	</div>
	<div class="about-box">
		<h3 class="box-title">反馈</h3>
		<p>
			我们的工具是为提高产品设计效率而生，如果您想帮助我们把 Protoshop 做得更好，欢迎您提出意见和建议。<br />
			Email to: <a href="mailto:support@protoshop.io">support@protoshop.io</a>
		</p>
	</div>
	<div class="about-box">
		<h3 class="box-title">捐赠</h3>
		<i class="fa fa-coffee"></i> <a href="https://qr.alipay.com/ap27zqsxo3v5q61z1f" title="求咖灰~~~" target="_blank">Buy me a coffee!</a><span class="qrcode-donate"></span> (੭ु๑‾᷄ ⁻̫ ‾᷅)੭ु⁾⁾
	</div>
</div>