<navbar />

<div class="layout-container">
	<div class="pkg-title">
		<button class="pkg-new" ng-click="toggleCreateDialog()"><i>+</i>New</button>
		<div class="pkg-name">Packages</div>
	</div>
	<!-- Package List -->
	<ul class="pkg-list">
		<li ng-repeat="pkg in packageList | orderBy:byCurrentUser:true" ng-class="{'mine':byCurrentUser(pkg),'private':!pkg.isPublic}">
			<div class="pkg-platform fa fa-{{pkg.appPlatform === 'ios' ? 'apple' : 'android'}}"></div>
			<div class="pkg-info">
				<a href="#/package/{{pkg.appID}}" ng-bind="pkg.appName" class="pkg-appname"></a>
				<i class="fa fa-lock"></i>
				<span class="pkg-author" ng-bind="'by '+(pkg.appOwnerNickname||pkg.appOwner)"></span>
				<span class="pkg-modifytime" ng-bind="pkg.editTime | ago"></span>
				<div class="pkg-desc" ng-bind="pkg.appDesc"></div>
			</div>
			<div class="pkg-btn" ng-if="pkg.appOwner === currentUserEmail">
				<button ng-if="allowShare" ng-click="sharePackage(pkg)" class="fa fa-share-alt" ng-show="pkg.isPublic !== '1'" title="Share"></button>
				<button ng-click="deletePackage(pkg)" class="fa fa-times" title="Delete"></button>
			</div>
		</li>
	</ul>
</div>
<div class="layer-mask"></div>