<navbar />

<!-- 布局主体 -->
<div class="layout-main">
	<notify />
	<!-- 左栏：场景列表 -->
	<div class="layout-scenes" ng-click="deselectScene()">
		<div class="panel-toggle">
			<button class="icon-left-open-big"></button>
		</div>
		<div class="scenes-title" ng-bind="package.appName"></div>
		<ul class="scenes-list">
			<li class="scene-item" ng-repeat="scene in package.scenes | orderBy:'order':number"
				ng-class="{'item-current': scene === editStat.selectedScene}"
				ng-click="selectScene(scene);$event.stopPropagation()"
				scene-list-item>
				<img class="scene-thumb" ng-src="{{scene.background||''}}" />
				<input type="text" ng-model="scene.name" />
			</li>
		</ul>
		<div class="scenes-edit">
			<button ng-click="insertScene(editStat.selectedScene);$event.stopPropagation()" title="Add Scene">+</button>
			<button ng-click="removeScene(editStat.selectedScene);$event.stopPropagation()" title="Delete Scene">-</button>
		</div>
	</div>

	<!-- 中栏：场景详情修改区 -->
	<div class="layout-stage" ng-click="onBackgroundClick()">
		<div class="{{package.appPlatform === 'android' ? 's4':'i5'}}">
			<div class="scene" scene-stage>
				<img class="scene-bg" ng-show="editStat.selectedScene.background" ng-src="{{editStat.selectedScene.background}}" alt=""/>
				<div editor-hotspot-group></div>
			</div>
		</div>
	</div>

	<!-- 右栏：场景修改工具区 -->
	<div class="layout-tools">
		<div class="panel-toggle">
			<button class="icon-right-open-big"></button>
		</div>
		<div class="panel-tools">
			<!-- tools: background -->
			<div class="tools-box" ng-show="editStat.selectedScene !== null">
				<div class="tools-title">Background</div>
				<div class="tools-background">
					<label class="tools-bg-thumb">
						<input type="file" uploader data-handlers="sceneBgUploadHandlers" style="display:none">
						<img style="height: 100px" ng-src="{{editStat.selectedScene.background||defaults.sceneBackground}}" />
					</label>
					<button ng-click="editStat.selectedScene.background=''">Remove</button>
				</div>
			</div>
			<!-- tools: library -->
			<div class="tools-box">
				<div class="tools-title">Library</div>
				<sidebarlibs />
			</div>
			<!-- tools: actor -->
			<div class="tools-box" ng-show="editStat.selectedScene !== null">
				<div class="tools-title">Actors</div>
				<ul class="tools-actor">
					<li class="tools-actor-item" ng-repeat="ele in editStat.selectedScene.elements" ng-click="onActorItemClick(ele)"
						ng-class="{'tools-actor-item-selected': ele === editStat.selectedElement}">
							<span>{{ele.type}}
							<span class="tools-actor-comment">X: {{ele.posX}}  Y: {{ele.posY}}
							  W: {{ele.width}}  H: {{ele.height}}</span></span>
						<button class="tools-actor-action icon-minus-circled" ng-click="removeElement(ele)"></button>
					</li>
				</ul>
			</div>
			<!-- tools: position -->
			<div class="tools-box" ng-show="editStat.selectedElement !== null">
				<div class="tools-title">Position</div>
				<ul class="tools-position">
					<li><label>X</label><input type="text" ng-model="editStat.selectedElement.posX" px-unit/> px</li>
					<li><label>Y</label><input type="text" ng-model="editStat.selectedElement.posY" px-unit/> px</li>
					<li><label>W</label><input type="text" ng-model="editStat.selectedElement.width" px-unit/> px</li>
					<li><label>H</label><input type="text" ng-model="editStat.selectedElement.height" px-unit/> px</li>
				</ul>
			</div>
			<!-- tools: action -->
			<div class="tools-box" ng-show="editStat.selectedElement !== null">
				<div class="tools-title">
					Actions
					<button class="tools-title-action icon-plus-circled" ng-click="addAction()"></button>
				</div>
				<ul class="tools-action">
					<li ng-repeat="action in editStat.selectedElement.actions">
						<span>{{renderActionItem(action)}}</span>
						<button class="tools-title-action icon-minus-circled" ng-click="removeAction(action)"></button>
					</li>
				</ul>
			</div>
			<!-- tools: setting -->
			<div class="tools-box" ng-show="editStat.selectedScene === null">
				<div class="tools-title">Settings</div>
				<ul class="tools-setting">
					<li><label>Name:</label><input type="text" ng-model="package.appName" /></li>
					<!--<li><label>Icon:</label><img ng-src="{{package.appIcon}}" /></li>-->
					<li>
						<label>Icon: </label>
						<label>
							<input type="file" uploader data-handlers="iconUploadHandlers" style="display: none" />
							<img ng-src="{{package.icon ? fileRoot + package.icon : 'http://wxddb1.qa.nt.ctripcorp.com/packages/icon.png'}}" />
						</label>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>