<navbar />

<div style="position:relative;margin-top: 20px">
    <div class="roadmap-page">
        <div ng-repeat="scene in scenesBlocks" class="map" id="scene-{{scene.id}}" style="left:{{200*$index+40}}px; top: 0">
            <p>{{scene.name}}</p>
            <p>{{scene.id}}</p>
            <i class="ancher-left"></i>
            <i class="ancher-right"></i>
        </div>
    </div>
</div>

<svg width="1280" height="700" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <line ng-repeat="line in lines" x1="{{line[0][0]}}" y1="{{line[0][1]}}" x2="{{line[1][0]}}" y2="{{line[1][1]}}" class="line" />
</svg>