<navbar />

<div class="layout-main">
  <notify />
	<div class="login-box">
		<h3 class="login-title">Sign Up</h3>
		<form class="login-form" ng-submit="doSignup()">
			<ul>
				<li><input type="text" placeholder="邮箱" required ng-model="user.email" /></li>
				<li><input type="text" placeholder="昵称" required ng-model="user.nickname" /></li>
				<li><input type="password" placeholder="密码" required ng-model="user.passwd" /></li>
				<li><button class="btn-login">注册</button><a href="#/" class="link-form">返回登录</a></li>
			</ul>
		</form>
	</div>
</div>