<navbar />

<div style="position:relative;margin-top: 20px;width:100%;height:100%;">
    <div class="roadmap-page">
        <div ng-repeat="block in scenesBlocks" class="map" roadmap-drag data-lines="{{block.lines.join(' ')}}" data-order="{{block.order}}" id="block-{{block.id}}" style="left:{{200*$index+40}}px; top: 0">
            <div class="{{package.appPlatform === 'android' ? 's4':'i5'}}">
                <div class="scene" ng-style="{'background-image': 'url(' + fileRoot + block.scene.background + ')'}">
                    <div ng-repeat="elem in block.scene.elements"
                         ng-include="'partials/scene-element-item.html'"
                         class="scene-element" ng-class="elem.type" ng-style="{left: elem.posX, top:elem.posY}"></div>
                </div>
            </div>
            <i class="ancher-left"></i>
            <i class="ancher-right"></i>
        </div>
    </div>
    <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" version="1.2">
        <line ng-repeat="line in lines" ng-bind-attrs="{id:line.id, x1:line.from[0], y1:line.from[1], x2 : line.to[0], y2 : line.to[1]}"  class="line" />
    </svg>
</div>

