<navbar />

<div class="layout-main">
	<div class="login-box">
		<h3 class="login-title">Sign Up</h3>
		<form class="login-form" ng-submit="doSignup()">
			<ul>
				<li><input type="text" placeholder="Email Address" required ng-model="user.email" /></li>
				<li><input type="text" placeholder="Nickname" required ng-model="user.nickname" /></li>
				<li><input type="password" placeholder="Password" required ng-model="user.passwd" /></li>
				<li><button class="btn-login">Sign Up</button><a href="#/" class="link-form">Back to login</a></li>
			</ul>
		</form>
	</div>
</div>