<div class="elem-content" ng-style="{width: elem.contentSize.width,height: elem.contentSize.height}">
    <div ng-repeat="elem in elem.elements"
         ng-include="'partials/scene-element.html'"
         scene-element parent-element class="scene-element" ng-class="elem.type"
         ng-style="{left: elem.posX, top: elem.posY}"></div>

    <element-content-handler edit-stat="editStat" elem-data="elem"
                             ng-if="elem === $parent.editStat.selectedElement"></element-content-handler>

</div>
