<div class="scene-setting">
  <div class="scene-setting-line"></div>
  <div class="scene-setting-panel">
    <h3>Properties</h3>

    <div class="setting-title">Size &amp; Position:</div>
    <div class="setting-prop">
      <div class="prop-size">
        <label>X <input type="number" ng-model="elem.posX" /></label>
        <label>Y <input type="number" ng-model="elem.posY" /></label>
        <label>W <input type="number" ng-model="elem.width" /></label>
        <label>H <input type="number" ng-model="elem.height" /></label>
      </div>
    </div>

    <div ng-if="elem.textColor">
      <div class="setting-title">Text:</div>
      <div class="setting-prop">
        <div class="prop-text">
          <input type="text" ng-model="elem.text" placeholder="Here is text..." />
          <select ng-model="elem.textSize" ng-options="v for v in props.textSize"></select>
          <input type="color" ng-model="elem.textColor" />
        </div>
      </div>
    </div>

    <div ng-if="elem.contentSize">
      <div class="setting-title">Wrapper Size:</div>
      <div class="setting-prop">
        <div class="prop-size">
          <label>W <input type="number" ng-model="elem.contentSize.width" /></label>
          <label>H <input type="number" ng-model="elem.contentSize.height" /></label>
        </div>
      </div>
    </div>

    <div ng-if="elem.bgColor">
      <div class="setting-title">Style:</div>
      <div class="setting-prop">
        <div class="prop-style">Background Color:
          <input type="color" ng-model="elem.bgColor" />
        </div>
        <div ng-if="elem.bgImage" class="prop-style">Background Image:
          <input type="text" ng-model="elem.bgImage" />
        </div>
        <!--<div class="prop-style">Border Radius:-->
        <!--<input type="text" ng-model="elem.bdRadius" ng-init="elem.bdRadius = elem.bdRadius || 0" /> px-->
        <!--</div>-->
      </div>
    </div>

    <div ng-if="elem.image">
      <div class="setting-title">Image:</div>
      <div class="setting-prop">
        <div class="prop-style">
          <label>
            <input type="file" uploader data-handlers="imageViewUploadHandlers" data-current="{{editStat.selectedScene.background||''}}" style="display:none">
            <img style="max-width:100%; max-height: 200px" ng-src="{{elem.image?(fileRoot + elem.image):''}}" />
          </label>
        </div>
      </div>
    </div>

    <div ng-if="elem.jumpto">
      <div class="setting-title">Jump To:</div>
      <div class="setting-prop">
        <div class="prop-goto">
          <select ng-model="elem.jumpto.target" ng-options="s.id as s.name for s in package.scenes"></select>
        </div>
        <div class="prop-transition">
          <label>
            <input type="radio" ng-model="elem.jumpto.transitionType" name="transition-name" value="none" />
            <i class="fa fa-ban"></i></label>
          <label>
            <input type="radio" ng-model="elem.jumpto.transitionType" name="transition-name" value="push" />
            <i>Push</i></label>
          <label>
            <input type="radio" ng-model="elem.jumpto.transitionType" name="transition-name" value="cover" />
            <i>Cover</i></label>
        </div>
        <div class="prop-transition" ng-hide="elem.jumpto.transitionType==='none'">
          <label><input type="radio" ng-model="elem.jumpto.transitionDirection" name="transition-direction"
                        value="up" />
            <i class="fa fa-arrow-up" title="up"></i></label>
          <label><input type="radio" ng-model="elem.jumpto.transitionDirection" name="transition-direction"
                        value="right" />
            <i class="fa fa-arrow-right" title="right"></i></label>
          <label><input type="radio" ng-model="elem.jumpto.transitionDirection" name="transition-direction"
                        value="down" />
            <i class="fa fa-arrow-down" title="down"></i></label>
          <label><input type="radio" ng-model="elem.jumpto.transitionDirection" name="transition-direction"
                        value="left" />
            <i class="fa fa-arrow-left" title="left"></i></label>
          <div class="prop-transition-time">
            <input type="text" ng-model="elem.jumpto.transitionDelay" time-unit />
            s delay<br />
            <input type="text" ng-model="elem.jumpto.transitionDuration" time-unit />
            s duration
          </div>
        </div>
      </div>
    </div>

  </div>
</div>