<div element-handler class="anchor" ng-if="elem === editStat.selectedElement" elem="elem"></div>
<element-view elem-data="elem"></element-view>
<div class="scene-setting">
	<div class="scene-setting-line"></div>
	<div class="scene-setting-panel" ng-if="elem === editStat.selectedElement">
		<h3>Properties</h3>

		<div class="setting-title">Size &amp; Position:</div>
		<div class="setting-prop">
			<div class="prop-size">
				<label>X <input type="text" ng-model="elem.posX" /></label>
				<label>Y <input type="text" ng-model="elem.posY" /></label>
				<label>W <input type="text" ng-model="elem.width" /></label>
				<label>H <input type="text" ng-model="elem.height" /></label>
			</div>
		</div>

		<div ng-if="elem.textColor">
			<div class="setting-title">Text:</div>
			<div class="setting-prop">
				<div class="prop-text">
					<input type="text" ng-model="elem.textContent" placeholder="Here is text..." />
					<select ng-model="elem.textSize" ng-init="elem.textSize = elem.textSize || 14"
							ng-options="v for v in props.textSize"></select>
          <input type="color" ng-model="elem.textColor" />
				</div>
			</div>
		</div>

		<div ng-if="elem.bgColor">
			<div class="setting-title">Style:</div>
			<div class="setting-prop">
				<div class="prop-style">Background:
					<input type="color" ng-model="elem.bgColor" />
				</div>
				<div class="prop-style">Border Radius:
					<input type="text" ng-model="elem.bdRadius" ng-init="elem.bdRadius = elem.bdRadius || 0" /> px
				</div>
			</div>
		</div>

		<div ng-if="elem.goto">
			<div class="setting-title">Go To:</div>
			<div class="setting-prop">
				<div class="prop-goto">
					<select ng-model="elem.target" ng-options="s.id as s.name for s in scenes"></select>
				</div>
				<div class="prop-transition">
					<label>
            <input type="radio" ng-model="elem.transitionType" name="transition-name" value="none" />
            <i class="icon-block"></i></label>
					<label>
            <input type="radio" ng-model="elem.transitionType" name="transition-name" value="push" checked="checked" />
            <i>Push</i></label>
					<label>
            <input type="radio" ng-model="elem.transitionType" name="transition-name" value="cover" />
            <i>Cover</i></label>
				</div>
				<div class="prop-transition" ng-hide="elem.transitionType==='none'">
					<label><input type="radio" ng-model="elem.transitionDirection" name="transition-direction" value="up" />
            <i class="icon-up-bold"></i></label>
					<label><input type="radio" ng-model="elem.transitionDirection" name="transition-direction" value="right" />
            <i class="icon-right-bold"></i></label>
					<label><input type="radio" ng-model="elem.transitionDirection" name="transition-direction" value="down" />
            <i class="icon-down-bold"></i></label>
					<label><input type="radio" ng-model="elem.transitionDirection" name="transition-direction" value="left" />
            <i class="icon-left-bold"></i></label>
				</div>
				<div class="prop-transition-time" ng-hide="elem.transitionType==='none'">
					<input type="text" ng-model="elem.transitionDelay" time-unit />
					s delay<br />
					<input type="text" ng-model="elem.transitionDuration" time-unit />
					s duration
				</div>
			</div>
		</div>

	</div>
</div>