<div class="element-view"
     ng-style="{left: elem.posX, top:elem.posY, height: elem.height, width: elem.width, backgroundColor:elem.bgColor, borderRadius:elem.bdRadius+'px', textAlign:elem.textAlign, opacity:elem.opacity}" >

  <span ng-if="elem.text" class="elem-text-content"
        ng-bind="elem.text"
        ng-style="{color:elem.textColor,fontSize:elem.textSize}" ng-class="{bold:elem.textBold, italic:elem.textItalic, underline:elem.textUnderline}"></span>

  <img ng-if="elem.image" ng-src="{{fileRoot + elem.image}}" />

</div>