<div>
	<div class="lib-category">
		<h3>Basic</h3>
		<ul class="lib-list">
			<li data-type="button" draggable="true">
				<div class="lib-item-thumb thumb-button"></div>
				<span class="lib-item-caption">Button</span>
			</li>
			<li ng-click="addHotspotElement()" draggable="true" data-type="hotspot">
				<div class="lib-item-thumb thumb-hotspot"></div>
				<span class="lib-item-caption">Hotspot</span>
			</li>
		</ul>
	</div>
	<div class="lib-category">
		<h3>Buttons</h3>
		<ul class="lib-list">
			<li>
				<div class="lib-item-thumb thumb-list"></div>
				<span class="lib-item-caption">List</span>
			</li>
			<li>
				<div class="lib-item-thumb thumb-toolbar"></div>
				<span class="lib-item-caption">Toolbar</span>
			</li>
		</ul>
	</div>
</div>