<!DOCTYPE html>
<html ng-app="toHELL">
<head>
	<meta charset="utf-8">
	<title>ToHELL</title>
	<meta name="viewport" content="width=device-width" />
	<!-- build:css(.tmp) styles/main.css -->
	<link rel="stylesheet" href="styles/main.css" />
	<link rel="stylesheet" href="styles/font.css" />
	<!-- endbuild -->
</head>
<body>

<div class="layout" ng-view></div>

<!-- ng-template: package.html -->
<script type="text/ng-template" id="package-edit.html">
	<nav class="navbar navbar-default">
		<div class="navbar-header">
			<a class="navbar-brand" href="#/">ToHELL</a>
		</div>
		<div class="menu-main">
			<button class="icon-play" title="Run"></button>
			<button class="icon-eye" title="Preview"></button>
			<button class="icon-export" title="Export"></button>
			<button class="icon-save" title="Save" ng-click="savePackage()">Save</button>
		</div>
		<div class="menu-modeswitch">
			<button class="icon-flow-tree"></button>
			<button class="icon-mobile current"></button>
		</div>
	</nav>

	<!-- 布局主体 -->
	<div class="layout-main">
	<notify />
		<!-- 左栏：场景列表 -->
		<div class="layout-scenes" ng-click="deselectScene()">
			<div class="scenes-title" ng-bind="package.appName"></div>
			<ul class="scenes-list">
				<li class="scene-item" ng-repeat="scene in package.scenes | orderBy:'order':number"
					ng-class="{'item-current': scene === editStat.selectedScene}"
					ng-click="selectScene(scene);$event.stopPropagation()"
					scene-list-item>
					<img class="scene-thumb" ng-src="{{scene.background}}" />
					<input type="text" ng-model="scene.name" />
				</li>
			</ul>
			<div class="scenes-edit">
				<button ng-click="insertScene(editStat.selectedScene);$event.stopPropagation()">+</button>
				<button ng-click="removeScene(editStat.selectedScene);$event.stopPropagation()">-</button>
			</div>
		</div>

		<!-- 中栏：场景详情修改区 -->
		<div class="layout-stage s4" ng-click="onBackgroundClick()">
			<div class="scene" style="background-image: url({{editStat.selectedScene.background}})">
				<div editor-hotspot-group></div>
			</div>
		</div>

		<!-- 右栏：场景修改工具区 -->
		<div class="layout-tools">
			<!-- tools: background -->
			<div class="tools-box" ng-show="editStat.selectedScene !== null">
				<div class="tools-title">Background</div>
				<div class="tools-background">
					<div class="tools-bg-thumb">
						<img ng-src="{{editStat.selectedScene.background||defaults.sceneBackground}}"
							 ng-click="openUploaderWindow()" alt="Scene Thumb" />
					</div>
					<button>Remove</button>
					<label style="float:right">
						<input type="file" ng-file="backgroundImage" ng-file-change="fileChange" style="display:none">
						<img style="height: 100px" ng-src="{{editStat.selectedScene.background||defaults.sceneBackground}}" />
					</label>
				</div>
			</div>
			<!-- tools: actor -->
			<div class="tools-box" ng-show="editStat.selectedScene !== null">
				<div class="tools-title">Actors<button class="icon-plus-circled" ng-click="addHotspotElement()"></button>
				</div>
				<ul class="tools-actor" ng-repeat="ele in editStat.selectedScene.elements">
					<li class="tools-actor-item" ng-click="onActorItemClick(ele)"
					 ng-class="{'tools-actor-item-selected': ele === editStat.selectedElement}">
						<span>Actor: {{ele.type}}
						<span class="tools-actor-comment">X: {{ele.posX}}  Y: {{ele.posY}}
						  W: {{ele.width}}  H: {{ele.height}}</span></span>
						<button class="tools-actor-action icon-minus-circled" ng-click="removeElement(ele)"></button>
					</li>
				</ul>
			</div>
			<!-- tools: position -->
			<div class="tools-box" ng-show="editStat.selectedElement !== null">
				<div class="tools-title">Position</div>
				<ul class="tools-position">
					<li><label>X</label><input type="text" ng-model="editStat.selectedElement.posX" px-unit/> px</li>
					<li><label>Y</label><input type="text" ng-model="editStat.selectedElement.posY" px-unit/> px</li>
					<li><label>W</label><input type="text" ng-model="editStat.selectedElement.width" px-unit/> px</li>
					<li><label>H</label><input type="text" ng-model="editStat.selectedElement.height" px-unit/> px</li>
				</ul>
			</div>
			<!-- tools: action -->
			<div class="tools-box" ng-show="editStat.selectedElement !== null">
				<div class="tools-title">
					<button class="tools-title-action icon-plus-circled" ng-click="addAction()"></button>
					Actions
				</div>
				<ul class="tools-action">
					<li ng-repeat="action in editStat.selectedElement.actions">
						<span>{{renderActionItem(action)}}</span>
						<button class="tools-title-action icon-minus-circled" ng-click="removeAction(action)"></button>
					</li>
				</ul>
			</div>
			<!-- tools: setting -->
			<div class="tools-box" ng-show="editStat.selectedScene === null">
				<div class="tools-title">Settings</div>
				<ul class="tools-setting">
					<li><label>Name:</label><input type="text" ng-model="package.appName" /></li>
					<li><label>Icon:</label><img ng-src="{{package.appIcon}}" /></li>
				</ul>
			</div>
		</div>

	</div>
</script>

<!-- ng-template: package-list.html -->
<script type="text/ng-template" id="package-list.html">
	<nav class="navbar navbar-default">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">ToHELL</a>
		</div>
	</nav>
	<div class="layout-main">
		<div class="project-box">
			<div class="p-top">
				<button class="add-btn" ng-click="toggleCreateDialog()"><i>+</i>New</button>
				<h1 class="p-title">Packages</h1>
			</div>
			<div class="p-activity">
				<!-- Package 列表项目 -->
				<div class="event-item" ng-repeat="pkg in packageList">
					<div class="change-btn">
						<button ng-click="editPackage(pkg)">edit</button>
						<button ng-click="deletePackage(pkg)">delete</button>
					</div>
					<div class="package-icon">
						<i class="icon-{{pkg.appPlatform === 'android' ? 'android' : 'apple'}}"></i>
					</div>
					<div class="event-info">
						<span class="app-name"><a href="#/package/{{pkg.appID}}" ng-bind="pkg.appName"></a></span>
						<span class="pull-time" ng-bind="pkg.createTime"></span>
					</div>
					<div class="event-description" ng-bind="pkg.comment"></div>
					<ul class="event-body" ng-show="pkg.changelog">
						<li class="commit" ng-repeat="log in pkg.changelog">
							<div class="commit-info">
								<span ng-bind="log.date"></span>
								<span ng-bind="log.by + ' - ' + log.note"></span>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="layer" ng-show="showCreateDialog">
		<div class="project-title">
			<button class="close" ng-click="toggleCreateDialog()">Close</button>
			<h3>New project</h3>
		</div>
		<form class="project-info" ng-submit="createPackage()">
			<ul class="control-group">
				<li>
					<label>Devices</label>
					<label class="devices">
						<input type="radio" ng-model="newPackageConfig.appPlatform" value="ios" required />
						<i class="icon-apple" title="Apple">Apple</i>
					</label>
					<label class="devices">
						<input type="radio" ng-model="newPackageConfig.appPlatform" value="android" />
						<i class="icon-android" title="Android">Android</i>
					</label>
				</li>
				<li>
					<label>Name</label>
					<input required type="text" ng-model="newPackageConfig.appName" name="projectName" placeholder="项目名称" />
				</li>
				<li>
					<label>Description</label>
					<textarea ng-model="newPackageConfig.appDesc" name="projectDetails" cols="20" rows="5"></textarea>
				</li>
				<li>
					<button class="btn-form">Save</button>
					<button class="btn-form" type="reset" ng-click="toggleCreateDialog()">Cancel</button>
				</li>
			</ul>
		</form>
	</div>
</script>

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/ngUpload/ng-upload.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/services/edit.js"></script>
<script src="scripts/services/notify.js"></script>
<script src="scripts/services/formdata.js"></script>
<script src="scripts/controllers/package-list.js"></script>
<script src="scripts/controllers/package-edit.js"></script>
<script src="scripts/directives/directives.js"></script>
<!-- endbuild -->
</body>
</html>