<!DOCTYPE html>
<html ng-app="toHELL">
<head>
	<meta charset="utf-8">
	<title>Protoshop</title>
	<meta name="viewport" content="width=device-width" />
	<!-- build:css(.tmp) styles/main.css -->
	<link rel="stylesheet" href="styles/main.css" />
	<link rel="stylesheet" href="styles/font.css" />
	<!-- endbuild -->
</head>
<body>

<div class="layout" ng-view></div>

<!-- ng-template: login.html -->
<script type="text/ng-template" id="login.html">
	<nav class="navbar navbar-default">
		<div class="navbar-header">
			<a href="#" class="navbar-brand">Protoshop</a>
		</div>
		<div class="navbar-about">
			<a href="about.html" class="navbar-icon">?</a>
		</div>
	</nav>
	<div class="layout-main">
		<div class="login-box">
			<form class="login-form" ng-submit="doSignin()">
				<ul>
					<li><input type="text" placeholder="邮箱" ng-model="loginData.email" /></li>
					<li><input type="password" placeholder="密码" ng-model="loginData.passwd" /></li>
					<li><button class="btn-login">登录</button><a href="#/register/" class="link-form">注册用户</a></li>
				</ul>
			</form>
		</div>
	</div>
</script>

<!-- ng-template: register.html -->
<script type="text/ng-template" id="register.html">
	<nav class="navbar navbar-default">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Protoshop</a>
		</div>
		<div class="navbar-about">
			<a href="about.html" class="navbar-icon">?</a>
		</div>
	</nav>
	<div class="layout-main">
		<div class="login-box">
			<form class="login-form" ng-submit="doSignup()">
				<ul>
					<li><input type="text" placeholder="邮箱" required ng-model="user.email" /></li>
					<li><input type="password" placeholder="密码" required ng-model="user.passwd" /></li>
					<li><button class="btn-login">注册</button><a href="#/" class="link-form">返回登录</a></li>
				</ul>
			</form>
		</div>
	</div>
</script>

<!-- ng-template: package-list.html -->
<script type="text/ng-template" id="package-list.html">
	<nav class="navbar navbar-default">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Protoshop</a>
		</div>
		<div class="navbar-about">
			<a href="about.html" class="navbar-icon">?</a>
		</div>
	</nav>
	<div class="layout-main">
		<div class="pkg-box">
			<div class="pkg-title">
				<button class="pkg-new" ng-click="toggleCreateDialog()"><i>+</i>New</button>
				<div class="pkg-name">Packages</div>
			</div>
			<!-- Package List -->
			<ul class="pkg-list">
				<li ng-repeat="pkg in packageList">
					<div class="pkg-platform icon-{{pkg.appPlatform === 'ios' ? 'apple' : 'android'}}"></div>
					<div class="pkg-info">
						<a href="#/package/{{pkg.appID}}" ng-bind="pkg.appName" class="pkg-appname"></a>
						<i class="icon-lock" ng-show="pkg.isPublic !== '1'"></i>
						<span class="pkg-createtime" ng-bind="pkg.createTime"></span>
						<div class="pkg-desc" ng-bind="pkg.appDesc"></div>
					</div>
					<div class="pkg-btn">
						<button ng-click="editPackage(pkg)">Edit</button>
						<button ng-click="deletePackage(pkg)">Delete</button>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="layer" ng-show="showCreateDialog">
		<div class="layer-title">
			<button class="close icon-cancel" ng-click="toggleCreateDialog()"></button>
			<h3>New Package</h3>
		</div>
		<form class="layer-info" ng-submit="createPackage()">
			<ul class="control-group">
				<li>
					<div class="layer-item">Devices</div>
					<div class="neat-form">
						<label>
							<input type="radio" ng-model="newPackageConfig.appPlatform" name="platform" value="ios" required />
							<i class="icon-apple" title="Apple">Apple</i>
						</label>
						<label>
							<input type="radio" ng-model="newPackageConfig.appPlatform" name="platform" value="android" />
							<i class="icon-android" title="Android">Android</i>
						</label>
					</div>
				</li>
				<li>
					<div class="layer-item">Name</div>
					<input required type="text" ng-model="newPackageConfig.appName" name="projectName" placeholder="项目名称" />
				</li>
				<li>
					<div class="layer-item">Description</div>
					<textarea ng-model="newPackageConfig.appDesc" name="projectDetails" cols="20" rows="5"></textarea>
				</li>
				<li>
					<div class="neat-form">
						<label>
							<input type="checkbox" ng-model="newPackageConfig.isPublic" />
							<span class="ispublic">
								<i class="icon-lock"></i>
							</span>
						</label>
					</div>
					<div class="item-btn">
						<button>Save</button>
						<button type="reset" ng-click="toggleCreateDialog()">Cancel</button>
					</div>
				</li>
			</ul>
		</form>
	</div>
	<div class="layer-mask"></div>
</script>

<!-- ng-template: package.html -->
<script type="text/ng-template" id="package-edit.html">
	<nav class="navbar navbar-default">
		<div class="navbar-header">
			<a class="navbar-brand" href="#/">Protoshop</a>
		</div>
		<div class="menu-main">
			<!--<button class="icon-play" title="Run"></button>
			<button class="icon-eye" title="Preview"></button>
			<button class="icon-export" title="Export"></button>-->
			<button class="icon-save" title="Save" ng-click="savePackage()">Save</button>
		</div>
		<div class="menu-modeswitch">
			<button class="icon-flow-tree"></button>
			<button class="icon-mobile current"></button>
		</div>
	</nav>

	<!-- 布局主体 -->
	<div class="layout-main">
		<notify />
		<!-- 左栏：场景列表 -->
		<div class="layout-scenes" ng-click="deselectScene()">
			<div class="scenes-title" ng-bind="package.appName"></div>
			<ul class="scenes-list">
				<li class="scene-item" ng-repeat="scene in package.scenes | orderBy:'order':number"
					ng-class="{'item-current': scene === editStat.selectedScene}"
					ng-click="selectScene(scene);$event.stopPropagation()"
					scene-list-item>
					<img class="scene-thumb" ng-src="{{scene.background||''}}" />
					<input type="text" ng-model="scene.name" />
				</li>
			</ul>
			<div class="scenes-edit">
				<button ng-click="insertScene(editStat.selectedScene);$event.stopPropagation()">+</button>
				<button ng-click="removeScene(editStat.selectedScene);$event.stopPropagation()">-</button>
			</div>
		</div>

		<!-- 中栏：场景详情修改区 -->
		<div class="layout-stage {{package.appPlatform === 'android' ? 's4':'i5'}}" ng-click="onBackgroundClick()">
			<div class="scene">
				<img class="scene-bg" ng-src="{{editStat.selectedScene.background||''}}" alt=""/>
				<div editor-hotspot-group></div>
			</div>
		</div>

		<!-- 右栏：场景修改工具区 -->
		<div class="layout-tools">
			<!-- tools: background -->
			<div class="tools-box" ng-show="editStat.selectedScene !== null">
				<div class="tools-title">Background</div>
				<div class="tools-background">
					<label class="tools-bg-thumb">
						<input type="file" ng-file="backgroundImage" ng-file-change="fileChange" style="display:none">
						<img style="height: 100px" ng-src="{{editStat.selectedScene.background||defaults.sceneBackground}}" />
						<i>+</i>
					</label>
					<button ng-click="editStat.selectedScene.background=''">Remove</button>
					<label style="float:right">
					</label>
				</div>
			</div>
			<!-- tools: actor -->
			<div class="tools-box" ng-show="editStat.selectedScene !== null">
				<div class="tools-title">Actors<button class="icon-plus-circled" ng-click="addHotspotElement()"></button>
				</div>
				<ul class="tools-actor" ng-repeat="ele in editStat.selectedScene.elements">
					<li class="tools-actor-item" ng-click="onActorItemClick(ele)"
						ng-class="{'tools-actor-item-selected': ele === editStat.selectedElement}">
						<span>Actor: {{ele.type}}
						<span class="tools-actor-comment">X: {{ele.posX}}  Y: {{ele.posY}}
						  W: {{ele.width}}  H: {{ele.height}}</span></span>
						<button class="tools-actor-action icon-minus-circled" ng-click="removeElement(ele)"></button>
					</li>
				</ul>
			</div>
			<!-- tools: position -->
			<div class="tools-box" ng-show="editStat.selectedElement !== null">
				<div class="tools-title">Position</div>
				<ul class="tools-position">
					<li><label>X</label><input type="text" ng-model="editStat.selectedElement.posX" px-unit/> px</li>
					<li><label>Y</label><input type="text" ng-model="editStat.selectedElement.posY" px-unit/> px</li>
					<li><label>W</label><input type="text" ng-model="editStat.selectedElement.width" px-unit/> px</li>
					<li><label>H</label><input type="text" ng-model="editStat.selectedElement.height" px-unit/> px</li>
				</ul>
			</div>
			<!-- tools: action -->
			<div class="tools-box" ng-show="editStat.selectedElement !== null">
				<div class="tools-title">
					<button class="tools-title-action icon-plus-circled" ng-click="addAction()"></button>
					Actions
				</div>
				<ul class="tools-action">
					<li ng-repeat="action in editStat.selectedElement.actions">
						<span>{{renderActionItem(action)}}</span>
						<button class="tools-title-action icon-minus-circled" ng-click="removeAction(action)"></button>
					</li>
				</ul>
			</div>
			<!-- tools: setting -->
			<div class="tools-box" ng-show="editStat.selectedScene === null">
				<div class="tools-title">Settings</div>
				<ul class="tools-setting">
					<li><label>Name:</label><input type="text" ng-model="package.appName" /></li>
					<li><label>Icon:</label><img ng-src="{{package.appIcon}}" /></li>
				</ul>
			</div>
		</div>

	</div>
</script>

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/services/edit.js"></script>
<script src="scripts/services/login.js"></script>
<script src="scripts/services/notify.js"></script>
<script src="scripts/services/formdata.js"></script>
<script src="scripts/controllers/login.js"></script>
<script src="scripts/controllers/register.js"></script>
<script src="scripts/controllers/package-list.js"></script>
<script src="scripts/controllers/package-edit.js"></script>
<script src="scripts/directives/directives.js"></script>
<!-- endbuild -->
</body>
</html>