<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <span class="navbar-brand">ToHELL</span>
    </div>
    <div class="menu-main">
        <button class="icon-play" title="Run"></button>
        <button class="icon-eye" title="Preview"></button>
        <button class="icon-export" title="Export"></button>
    </div>
    <div class="menu-modeswitch">
        <button class="icon-flow-tree"></button>
        <button class="icon-mobile current"></button>
    </div>
</nav>

<!-- 布局主体 -->
<div class="layout-main">

    <!-- 左栏：场景列表 -->
    <div class="layout-scenes">
        <span class="scenes-title" ng-bind="project.name"></span>
        <ul class="scenes-list">
            <li class="scene-item" ng-repeat="scene in project.scenes"
                ng-class="{'item-current': scene.order == projectStat.selectedScene}"
                ng-click="selectScene(scene)">
                <img class="scene-thumb" ng-src="{{scene.background}}"/>
                <input type="text" value="{{scene.name}}"/>
            </li>
        </ul>
    </div>

    <!-- 中栏：场景详情修改区 -->
    <div class="layout-stage">
        <div class="scene">
            <div class="hotspot" style="position:absolute; left:100px; top:252px; width:118px; height:42px;">
                <i></i><i></i><i></i><i></i>
            </div>
            <div class="scene-goto" style="position:absolute; left:-140px; top:220px;">
                <div class="scene-goto-thumb"><img src="images/zzz-scene-thumb.png" width="40"/><br/>Scene 2</div>
                <div class="scene-goto-line" style="position:absolute; width:264px;"></div>
                <div class="scene-goto-animation">
                    <dl>
                        <dt>JUMP TO</dt>
                        <dd>
                            <a href="###" class="goto-target"><i class="icon-target"></i></a>
                            Scene 2
                        </dd>
                        <dt>TRANSITION</dt>
                        <dd class="goto-transition">
                            <div class="transition-name">
                                <a href="###"><i class="icon-block"></i></a>
                                <a href="###" class="current">Push</a>
                                <a href="###">Cover</a>
                            </div>
                            <div class="transition-direction">
                                <a href="###"><i class="icon-up-bold"></i></a>
                                <a href="###"><i class="icon-right-bold"></i></a>
                                <a href="###"><i class="icon-down-bold"></i></a>
                                <a href="###" class="current"><i class="icon-left-bold"></i></a>
                            </div>
                            <div class="transtion-time">
                                <input type="text" value="0s" readonly="true"/> delay<br/>
                                <input type="text" value="0.25s" readonly="true"/> duration
                            </div>
                        </dd>
                        <dt>PLAY A SOUND</dt>
                        <dd><a href="###">+</a></dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <!-- 右栏：场景修改工具区 -->
    <div class="layout-tools">
        <!-- tools: position -->
        <div class="tools-box">
            <a href="###" class="tools-title">Position</a>
            <ul class="tools-position">
                <li><label>X</label><input type="text" value="0"/></li>
                <li><label>Y</label><input type="text" value="428"/></li>
                <li><label>W</label><input type="text" value="320"/></li>
                <li><label>H</label><input type="text" value="50"/></li>
            </ul>
        </div>
        <!-- tools: background -->
        <div class="tools-box">
            <a href="###" class="tools-title">Background</a>

            <div class="tools-background">
                <img src="images/zzz-scene-thumb.png" alt="" width="174" class="tools-bg-thumb"/>
                <input type="button" value="Add"/>
                <input type="button" value="Remove"/>
            </div>
        </div>
        <!-- tools: action -->
        <div class="tools-box">
            <a href="###" class="tools-title">Actions</a>
            <ul class="tools-action">
                <li>Go To: Scene 2</li>
                <li>Transtion: <input type="radio"/> Push, <input type="radio"/> Cover</li>
                <li>Direction: <input type="radio"/> left, <input type="radio"/> right</li>
            </ul>
        </div>
    </div>

</div>
